// Reseting margins and paddings
*,
*:before,
*:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

// Basic styling
body {
    height: 100vh;
    font-family: $main-font;
    background: $bg-color;
    color: setTxtColor($bg-color);
    line-height: 1.5;
}

.main-header {
    text-align: center;

    h1 {
        font-family: $head-font;
        color: $header-color;
        text-transform: uppercase;
        font-size: 5em;
        font-weight: 700;
        text-shadow: 1px 1px 1px $dark-color,
            1px 2px 1px $dark-color,
            1px 3px 1px $dark-color,
            1px 4px 1px $dark-color,
            1px 5px 1px $dark-color,
            1px 6px 1px $dark-color,
            1px 7px 1px $dark-color,
            1px 8px 1px $dark-color,
            1px 9px 1px $dark-color,
            1px 10px 1px $dark-color,
            1px 18px 6px rgba(16,16,16,0.4),
            1px 22px 10px rgba(16,16,16,0.2),
            1px 25px 35px rgba(16,16,16,0.2),
            1px 30px 60px rgba(16,16,16,0.4);
    }
}

#reset-btn {
    background-color: $header-color;
    color: $dark-color;
    font-family: $head-font;
    padding: 10px;
    text-transform: uppercase;
}